#header {
    background-color: #404040;
    color: white;
    margin-left: 0;
    margin-right: 0;
}

#header .col-xs-12 {
    padding: 0 !important;
}

#search{
    float: right;
}

body {
    background-color: #404040;
    color: white;
}

#content {
    margin-left: 0;
    margin-right: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    background-color: #222;
    color: white;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.glyphicon-green {
    color: #24802b;
}
.glyphicon-red {
    color: #80191a;
}

.table-hover > tbody > tr:hover {
    background-color: #222;
}

.modal-content {
    background:#222 !important;
}

.modal-header {
    border-bottom:0;
}
.modal-header button {
    color:white;
}
.modal-footer {
    border-top:0;
}

.shortinfo {
    list-style: none;
    padding-left: 0;
}

.list-label {
    font-weight: bold;
}

.processlist,
#processinfo {
    max-height: 400px;
    overflow: auto;
}

.clickable-row {
    cursor:pointer;
}